{% extends "base.html" %} {% block title %} About Ednilson {% endblock %}
{% block content %} 

<div id="about">
       
            <h2 id="bout-h2">About Me</h2>
            <p>As a dynamic backend developer, I excel in Python and JavaScript, leveraging a rich skill set that spans JavaScript, ReactJS, Bootstrap, NodeJS, ExpressJS, MongoDB, PHP, HTML & CSS. My passion for problem-solving is evident in the programs I've written, the visually appealing websites I've designed, and the dynamic webpages developed in adherence to industry standards. Proficient in Agile methodologies like Scrum, I bring effective communication, teamwork, and multilingual fluency (Portuguese, English, Spanish) to enhance collaborative projects. Let's elevate your backend development with innovative and standards-compliant solutions.</p>
    
            <h3>Experience - Technologies:</h3>
            <ul>
                <li><p>JavaScript, ReactJS, Bootstrap.</p></li>
                <li><p>NodeJS, ExpressJS, MongoDB.</p></li>
                <li><p>PHP, HTML & CSS, Python.</p></li>
                <li><p>Agile Development Methodology. </p></li>
            </ul>
    
            <h3>Achievements:</h3>
            <ul>
                <li><p>Wrote programs to accomplish meaningful tasks in various domains.</p></li>
                <li><p>Designed visually appealing and effective websites.</p></li>
                <li><p>Developed dynamic webpages following industry standards and best practices.</p></li>
            </ul>
    
            <h3>Contact:</h3>
            <p>📞 +351 926 132 189</p>
            <p>📧 ednilsoncastanheira53@gmail.com</p>
        
    </div>

    {% endblock %}